.transactioHistory {
  width: 400px;
  box-shadow: 0 0 10px rgb(206, 220, 250);
}
.headline {
  background-color: rgb(0, 81, 255);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.headline > tr {
  height: 40px;
}
.line {
  height: 40px;
  text-align: center;
}
.tbody > tr:nth-child(2n) {
  background-color: rgb(91, 176, 242);
}
